snippet it "Italics"  w
**${1:${VISUAL}}**$0
endsnippet
snippet emph "Italics"  w
**${1:${VISUAL}}**$0
endsnippet
snippet bf "Bold"  w
*${1:${VISUAL}}*$0
endsnippet
snippet bold "Bold"  w
*${1:${VISUAL}}*$0
endsnippet
