# See https://github.com/SirVer/ultisnips/blob/master/doc/UltiSnips.txt
# for documentation. In particular "4.1.3 Snippet Options"
priority 10

snippet integral "Integral" w
\int_{${1:${VISUAL}}}$0
endsnippet
snippet int "Integral" w
\int_{${1:${VISUAL}}}$0
endsnippet
snippet del "Partial Derivative"  w
\partial
endsnippet
# }}}
