priority 10

# Comments {{{
snippet todo "TODO" w
\TODO{${1:${VISUAL}}} $0
endsnippet
snippet TODO "TODO" w
\TODO{${1:${VISUAL}}} $0
endsnippet
snippet note "NOTE" w
\NOTE{${1:${VISUAL}}} $0
endsnippet
snippet NOTE "NOTE" w
\NOTE{${1:${VISUAL}}} $0
endsnippet
snippet check "CHECK" w
\CHECK{${1:${VISUAL}}} $0
endsnippet
snippet CHECK "CHECK" w
\CHECK{${1:${VISUAL}}} $0
endsnippet
# }}}

