
# Brackets {{{
snippet lr< "Angle Brackets" wi
\langle ${1:${VISUAL}} \rangle $0
endsnippet
snippet lr[[ "Double Brackets" wi
\llbracket ${1:${VISUAL}} \rrbracket $0
endsnippet
# }}}

# Dots {{{
snippet cdot "cdot" w
\cdot 
endsnippet
snippet ldot "ldot" w
. 
endsnippet
snippet dots "dots" w
\dots 
endsnippet
snippet cdots "cdots" w
\cdots 
endsnippet
snippet ldots "ldots" w
\ldots 
endsnippet
# }}}
